.card-form {
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    background-color: white;

  }
  
  .form-label {
    display: flex;
    margin-bottom: 10px;
    font-weight: bold;

  }
  
  .form-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .title-form-input {
    width: 40%;
    text-align: left;
    align-items: center;
    align-content: center;
    display: flex;
  }
  .form-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    font-size: 16px;
    background-color: #262b40;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .form-button:hover {
    background-color: #2e3650;
  }
  
  .image-preview {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  
  .preview-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  